<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<!--
		<a class="navbar-brand" href="/">
			Upload
		</a>
		-->
		<div class="navbar-header navbar-left">
			<button type="submit" class="btn btn-primary navbar-btn" style="margin-right:15px;">Upload new file</button>
		</div>
		<!--
		<form class="navbar-form navbar-right">
		  <div class="form-group">
		    <input type="file">
		  </div>
		  <button type="submit" class="btn btn-primary">Upload new file</button>
		</form>
		-->
		<p class="navbar-text navbar-right">250 / 500 MB</p>
		<progressbar value="theTime()" type="success" max="maxTime()">{{percentage(theTime(),maxTime())}}%</progressbar>
	</div><!--/.nav-collapse -->
</div>

<div class="container-fluid" ng-controller="MainCtrl">
	<div class="row">
		<div ng-class="selectedFile ? 'col-md-6' : 'col-md-12'" 
			style="transition: width ease-in-out 0.5s;">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>file.name</th>
						<th>file.size</th>
						<th>file.modified</th>
						<th>file.mimetype</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="file in files" ng-click="toggleSelect(file)">
						<td>
						 	<img ng-src="images/ext-icons/16px/{{file.ext}}.png" fallback-src="images/ext-icons/16px/_blank.png" alt="{{file.mimetype}}">
							<a href="{{file.path}}">{{file.name}}</a>
						</td>
						<td>{{readable(file.size)}}</td>
						<td>
							<time datetime="{{file.modified *1000 | date:'yyyy-MM-ddTHH:mm:ssZ'}}">
								{{file.modified *1000 | date:'shortDate'}}
							</time>
						</td>
						<td>{{file.mimetype}}</td>
 					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-6 foo" ng-show="selectedFile" style="
    transition: opacity ease-in-out 0.5s 0.5s;">
			<div class="panel panel-default">
				<div class="panel-body">
					
					<img ng-src="images/ext-icons/512px/{{selectedFile.ext}}.png" 
						fallback-src="images/ext-icons/512px/_blank.png" alt="{{selectedFile.mimetype}}" 
						class="img-responsive" style="margin:auto;">
					<div class="well well-lg">
						<dl class="dl-horizontal">
						  <dt>Filename</dt>
						  <dd>{{selectedFile.name}}</dd>
						  <dt>Size</dt>
						  <dd>{{readable(selectedFile.size)}}</dd>
						  <dt>Last modified</dt>
						  <dd>
								<time datetime="{{selectedFile.modified *1000 | date:'yyyy-MM-ddTHH:mm:ssZ'}}">
									{{selectedFile.modified *1000 | date:'longDate'}}
								</time>
						  </dd>
						  <dt>Mimetype</dt>
						  <dd>{{selectedFile.mimetype}}</dd>
					  </dl>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
