<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<!--
		<a class="navbar-brand" href="/">
			Upload
		</a>
		-->
		<div class="navbar-header navbar-left" ng-controller="ModalDemoCtrl">
	    <script type="text/ng-template" id="uploadModal.html">
				<form role="form" class="form-horizontal">
	        <div class="modal-header">
	            <button class="btn btn-warning pull-right" ng-click="cancel()">Cancel</button>
	            <h3>Upload new file</h3>
	        </div>
	        <div class="modal-body">
					  <div class="form-group">
					    <label for="exampleInputFile" class="col-sm-4 control-label">Select file to upload</label>
					    <div class="col-sm-8">
						    <input type="file" id="exampleInputFile">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="exampleInputEmail1" class="col-sm-4 control-label">Custom filename</label>
					    <div class="col-sm-8">
					    <div class="input-group">
						    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="filename">
							  <span class="input-group-addon">.ext</span>
					    </div>
						    <p class="help-block">Leave blank for default.</p>
					    </div>
					  </div> 
				  <div class="form-group">
				    <div class="col-sm-offset-4 col-sm-8">
				      <div class="checkbox">
				        <label>
				          <input type="checkbox"> Force overwrite if file exists.
				        </label>
				      </div>
				    </div>
				  </div>
 	        </div>
	        <div class="modal-footer">
						<button class="btn btn-primary btn-block btn-lg" ng-click="ok()">Upload file</button>
	        </div>
				</form>
	    </script>
			<button ng-click="open()" class="btn btn-primary navbar-btn" style="margin-right:15px;">Upload new file</button>
		</div>
		<!--
	    <button class="btn btn-default">Open me!</button>
		<form class="navbar-form navbar-right">
		  <div class="form-group">
		    <input type="file">
		  </div>
		  <button type="submit" class="btn btn-primary">Upload new file</button>
		</form>
		-->
		<ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span></a>
        <ul class="dropdown-menu">
          <li>
          	<div class="text-center">
	          	<img src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" 
	          		class="img-circle img-thumbnail">
	          	<p class="lead">user</p>
          	</div>
          </li>
          <li><a href="#"><span class="glyphicon glyphicon-wrench"></span> Settings</a></li>
          <li class="divider"></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
        </ul>
      </li>
    </ul>
		<p class="navbar-text navbar-right">{{readable(usage.used)}} / {{readable(usage.total)}}</p>
		<progressbar value="usage.used" type="{{usage.state}}" max="usage.total">{{usage.percentage}}%</progressbar>
	</div><!--/.nav-collapse -->
</div>

<div class="container-fluid" ng-controller="MainCtrl">
	<div class="row">
		<div class="" ng-class="hasSelectedFile ? 'col-md-6 squeeze' : 'col-md-8 col-md-offset-2 stretch'">
<ul class="list-group">
  <li class="list-group-item">
    <h4 class="list-group-item-heading">
			<div class="row">
				<div class="col-md-7">
					file.name
				</div>
				<div class="col-md-2">
					file.size
				</div>
				<div class="col-md-3">
					file.modified
				</div>
			</div>
    </h4>
  </li>
  <li class="list-group-item" ng-class="(selectedFile.name==file.name && hasSelectedFile) ? 'list-group-item-info' : ''" ng-repeat="file in files" ng-click="toggleSelect(file)">
		<div class="row">
			<div class="col-md-7">
			 	<img ng-src="images/ext-icons/16px/{{file.ext}}.png" fallback-src="images/ext-icons/16px/_blank.png" alt="{{file.mimetype}}">
				<a href="{{file.path}}">{{file.name}}</a>
			</div>
			<div class="col-md-2">
				{{readable(file.size)}}
			</div>
			<div class="col-md-3">
				<time datetime="{{file.modified *1000 | date:'yyyy-MM-ddTHH:mm:ssZ'}}">
					{{file.modified *1000 | date:'shortDate'}}
				</time>
			</div>
		</div>
		<div class="row" ng-show="selectedFile==file && hasSelectedFile">
			<div class="col-md-12">
						<dl class="dl-horizontal">
						  <dt>Filename</dt>
						  <dd>{{file.name}}</dd>
						  <dt>Size</dt>
						  <dd>{{readable(file.size)}}</dd>
						  <dt>Last modified</dt>
						  <dd>
								<time datetime="{{file.modified *1000 | date:'yyyy-MM-ddTHH:mm:ssZ'}}">
									{{file.modified *1000 | date:'longDate'}}
								</time>
						  </dd>
						  <dt>Mimetype</dt>
						  <dd>{{file.mimetype}}</dd>
					  </dl>
					  <button class="btn btn-primary pull-right">Share <span class="glyphicon glyphicon-share-alt"></span></button>
			</div>
		</div>
  </li>
</ul>
<!--
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>file.name</th>
						<th>file.size</th>
						<th>file.modified</th>
						<th>file.mimetype</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="file in files" ng-click="toggleSelect(file)">
						<td>
						 	<img ng-src="images/ext-icons/16px/{{file.ext}}.png" fallback-src="images/ext-icons/16px/_blank.png" alt="{{file.mimetype}}">
							<a href="{{file.path}}">{{file.name}}</a>
						</td>
						<td>{{readable(file.size)}}</td>
						<td>
							<time datetime="{{file.modified *1000 | date:'yyyy-MM-ddTHH:mm:ssZ'}}">
								{{file.modified *1000 | date:'shortDate'}}
							</time>
						</td>
						<td>{{file.mimetype}}</td>
 					</tr>
				</tbody>
			</table>
-->
		</div>
		<div class="col-md-6" ng-show="hasSelectedFile" ng-class="hasSelectedFile ? 'fadein' : 'fadeout'">
			<div class="panel panel-default preview">
				<div class="panel-body">
					<!--
					<div class="well well-lg">
					  <button class="btn btn-primary pull-right">Share <span class="glyphicon glyphicon-share-alt"></span></button>
						<dl class="dl-horizontal">
						  <dt>Filename</dt>
						  <dd>{{selectedFile.name}}</dd>
						  <dt>Size</dt>
						  <dd>{{readable(selectedFile.size)}}</dd>
						  <dt>Last modified</dt>
						  <dd>
								<time datetime="{{selectedFile.modified *1000 | date:'yyyy-MM-ddTHH:mm:ssZ'}}">
									{{selectedFile.modified *1000 | date:'longDate'}}
								</time>
						  </dd>
						  <dt>Mimetype</dt>
						  <dd>{{selectedFile.mimetype}}</dd>
					  </dl>
					</div>
					-->
					<img ng-src="images/ext-icons/512px/{{selectedFile.ext}}.png" 
						fallback-src="images/ext-icons/512px/_blank.png" alt="{{selectedFile.mimetype}}" 
						class="img-responsive" style="margin:auto;">
				</div>
			</div>
		</div>
	</div>
</div>
